/* Colos */

:root {
  --color-primary: #4b8ef1;
  --color-secondary: #0d6efd;
  --color-white: #ffffff;
  --color-aqua-rgba: rgba(40, 225, 253, 1);
  --color-neviblue-rgba: rgba(91, 104, 235, 1);
  --color-black: #000000;
  --text-deep-black-color: #2a2a2a;
  --text-ass-color: #afafaf;
  --text-dark-ass-color: #7a7a7a;
  --border-color: #eee;
  --border-rgba-01: 1px solid rgba(42, 42, 42, 0.2);

  --shadow-rgba-01: 0px 5px 8px rgba(0, 0, 0, 0.03);
  --shadow-rgba-02: 0px 0px 15px rgba(0, 0, 0, 0.1);
  --shadow-rgba-03: 0px 0px 15px rgba(0, 0, 0, 0.07);
}

@media (min-width: 36em) {
  .header-container {
    padding: 0 1.5rem;
  }

  .hero-section {
    padding-top: 14rem;
  }

  .hero-text {
    padding: 0 12px;
  }

  .hero-img {
    padding: 0 20px;
  }

  .pricing-text,
  .clients-text,
  .services-text {
    width: 65%;
  }

  .services-work {
    width: 540px;
    margin: 0 auto;
  }

  .about-container {
    margin: 0 16px;
  }

  .clients-container {
    margin: 0 20px;
  }

  .cto-img-box {
    max-width: 440px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .clients-review-box {
    max-width: 440px;
    margin: 0 auto;
  }

  .clients-review {
    display: flex;
    justify-content: space-between;
  }

  .clients-review div:nth-child(1) {
    padding: 12px;
    width: 8rem;
  }

  .star-rating {
    width: 7rem;
  }

  .star-rating {
    margin-top: 0.8rem;
  }

  .clients-review {
    margin-bottom: 10px;
  }

  .price-plan-active,
  .price-plan {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .cta-form {
    flex-direction: row;
    width: 540px;
    margin: 0 auto;
    padding-bottom: 45px;
  }

  .cta-form button {
    margin-bottom: 0;
    width: 100%;
  }
}

@media (min-width: 48em) {
  .header {
    position: fixed;
    z-index: 222;
    background: rgb(255, 255, 255, 0.9);
  }
  .btn-mobile-nav {
    display: none;
  }

  .main-nav {
    display: block;
    margin-right: 1rem;
  }

  .nav li {
    padding: 0 12px;
  }

  .nav .nav-link:link,
  .nav .nav-link:visited {
    display: block;
    color: var(--text-deep-black-color);
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
  }

  .nav .nav-active.nav-link,
  .nav .nav-link:hover,
  .nav .nav-link:active {
    color: var(--color-primary);
  }

  .nav li:nth-child(6) {
    background: linear-gradient(
      105deg,
      var(--color-neviblue-rgba) 0%,
      var(--color-aqua-rgba) 100%
    );
    border-radius: 23px;
    margin-left: 1.5rem;
    padding: 0 16px;
  }

  .nav li:nth-child(6) .nav-link:link,
  .nav li:nth-child(6) .nav-link:visited {
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .bi-box-arrow-in-right {
    font-size: 16px;
    text-shadow:
      0 0 1px currentColor,
      0 0 1px currentColor;
    margin-top: 2px;
  }

  .header-container {
    padding: 0 1.5rem;
  }

  .hero-section {
    padding-top: 14rem;
  }

  .hero-text {
    padding: 0 12px;
  }

  .hero-img {
    padding: 0 24px;
  }

  .pricing-text,
  .clients-text,
  .services-text {
    width: 65%;
  }

  .services-work {
    width: 700px;
    margin: 0 auto;
  }

  .icon-img-1,
  .icon-img-2,
  .icon-img-3,
  .icon-img-4 {
    margin: 0 auto 15px auto;
  }

  .about-container {
    margin: 0 16px;
  }

  .about {
    width: 690px;
    margin-right: auto;
    margin-left: auto;
  }

  .clients-container {
    margin: 0 20px;
  }

  .cto-img-box {
    max-width: 440px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .clients-review-box {
    max-width: 600px;
    margin: 0 auto;
  }

  .clients-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .clients-review div:nth-child(1) {
    width: auto;
    padding: 20px 0;
  }

  .categary {
    display: block;
  }

  .categary p {
    color: var(--text-ass-color);
    font-weight: 700;
  }

  .star-rating {
    width: auto;
    margin-top: 0;
    text-align: right;
  }

  .clients-review {
    margin-bottom: 30px;
  }

  .price-plan-active,
  .price-plan {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-container {
    padding-top: 250px;
  }

  .cta-form {
    width: 90%;
  }

  .cta-form input,
  .cta-form button {
    width: 100%;
    font-size: 16px;
    height: 3rem;
  }

  .cta-form input {
    border: none;
    border-bottom: 1px solid var(--color-white);
    border-radius: 0;
    background: transparent;
    padding: 12px;
    color: var(--color-white);
  }

  .cta-form input::placeholder {
    color: var(--color-white);
  }

  .cta-form button {
    background: transparent;
    color: var(--color-white);
    transition: all 0.3s;
  }

  .cta-form button:hover {
    background: var(--color-white) !important;
    color: var(--color-primary);
  }

  .contact-information {
    text-align: left;
    padding: 0 24px;
  }

  .nav-col {
    width: 70%;
  }

  .nav-col ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .logo-img {
    justify-self: left;
  }
}

@media (min-width: 62em) {
  .hero-section::after {
    content: "";
    background-image: url(/asset/images/slider-left-dec.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hero-section {
    padding: 250px 120px 150px 120px;
  }

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 22;
    padding: 0;
  }

  .hero-text-box,
  .hero-img {
    width: 50%;
  }

  .hero-text,
  .hero-title {
    text-align: left;
    color: var(--text-deep-black-color);
  }

  .hero-text {
    padding: 0;
  }

  .download-container {
    justify-content: left !important;
  }

  .nav .nav-link:link,
  .nav .nav-link:visited {
    display: block;
    color: var(--text-deep-black-color);
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
  }

  .nav .nav-active.nav-link,
  .nav .nav-link:hover,
  .nav .nav-link:active {
    color: var(--color-primary);
  }

  .nav li:nth-child(6) {
    background: linear-gradient(
      105deg,
      var(--color-neviblue-rgba) 0%,
      var(--color-aqua-rgba) 100%
    );
    border-radius: 23px;
    margin-left: 1.5rem;
    padding: 0 16px;
  }

  .nav li:nth-child(6) .nav-link:link,
  .nav li:nth-child(6) .nav-link:visited {
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .bi-box-arrow-in-right {
    font-size: 16px;
    text-shadow:
      0 0 1px currentColor,
      0 0 1px currentColor;
    margin-top: 2px;
  }

  .hero-img {
    padding: 0;
    margin-top: 0;
  }

  .pricing-text,
  .clients-text,
  .services-text {
    width: 50%;
  }

  .services-work {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .col-sw {
    display: flex;
    flex-direction: column;
  }

  .work-link {
    margin-top: auto;
  }

  .icon-img-1,
  .icon-img-2,
  .icon-img-3,
  .icon-img-4 {
    margin: 0 auto 15px auto;
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about {
    width: 100%;
  }

  .about-image {
    margin-top: 0;
  }

  .about-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .col-ab-1 {
    border-radius: 23px;
  }

  .clients-container {
    margin: 0 20px;
  }

  .client-box {
    display: flex;
    width: 100%;
    gap: 1rem;
    overflow: hidden;
  }

  .review-box {
    width: 50%;
  }

  .review-text-box {
    padding: 0;
    padding-bottom: 10px;
    margin: 0 12px;
  }

  .cto-img-box {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .clients-review-box {
    max-width: 100%;
    margin: 0 auto;
  }

  .clients-review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: flex-start;
  }

  .clients-review div:nth-child(1) {
    width: auto;
    padding: 0;
  }

  .price-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 12px;
  }

  .categary {
    display: block;
  }

  .categary p {
    color: var(--text-ass-color);
    font-weight: 700;
    line-height: 25px;
  }

  .star-rating {
    width: auto;
    margin-top: 0;
    text-align: right;
    line-height: 24px;
  }

  .price-plan-active,
  .price-plan {
    width: 100%;
    margin: 0;
  }

  .price-plan-active h6,
  .price-plan h6 {
    position: inherit;
  }

  .footer-container {
    padding-top: 250px;
  }

  .footer-title {
    width: 60%;
    color: var(--color-white);
  }

  .cta-form {
    width: 60%;
  }

  .cta-form input,
  .cta-form button {
    width: 100%;
    font-size: 16px;
    height: 3rem;
  }

  .cta-form input {
    border: none;
    border-bottom: 1px solid var(--color-white);
    border-radius: 0;
    background: transparent;
    padding: 12px;
    color: var(--color-white);
  }

  .cta-form input::placeholder {
    color: var(--color-white);
  }

  .cta-form button {
    background: transparent;
    color: var(--color-white);
    transition: all 0.3s;
  }

  .cta-form button:hover {
    background: var(--color-white) !important;
    color: var(--color-primary);
  }

  .contact-information {
    display: flex;
    gap: 1.5rem;
  }

  .logo-col,
  .address-col,
  .nav-col {
    width: 50%;
  }

  .nav-col ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .logo-img {
    justify-self: left;
  }
}

@media (min-width: 75em) {
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav .nav-link:link,
  .nav .nav-link:visited {
    display: block;
    color: var(--text-deep-black-color);
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
  }

  .nav .nav-active.nav-link,
  .nav .nav-link:hover,
  .nav .nav-link:active {
    color: var(--color-primary);
  }

  .nav li:nth-child(6) {
    background: linear-gradient(
      105deg,
      var(--color-neviblue-rgba) 0%,
      var(--color-aqua-rgba) 100%
    );
    border-radius: 23px;
    margin-left: 1.5rem;
    padding: 0 16px;
  }

  .nav li:nth-child(6) .nav-link:link,
  .nav li:nth-child(6) .nav-link:visited {
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .bi-box-arrow-in-right {
    font-size: 16px;
    text-shadow:
      0 0 1px currentColor,
      0 0 1px currentColor;
    margin-top: 2px;
  }

  .header-container {
    padding: 0 1.5rem;
  }

  .hero-section {
    padding-top: 14rem;
  }

  .hero-text {
    padding: 0 12px;
  }

  .hero-img {
    padding: 0 24px;
  }

  .pricing-text,
  .clients-text,
  .services-text {
    width: 50%;
  }

  .services-work {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .col-sw {
    display: flex;
    flex-direction: column;
  }

  .work-link {
    margin-top: auto;
  }

  .icon-img-1,
  .icon-img-2,
  .icon-img-3,
  .icon-img-4 {
    margin: 0 auto 15px auto;
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-section {
    position: relative;
  }

  .about-section::after {
    content: "";
    background-image: url(/asset/images/about-bg.jpg);
    background-repeat: no-repeat;
    position: absolute;
    right: 2%;
    top: 20%;
    transform: translateY(-50%);
    width: 777px;
    height: 1132px;
  }

  .about {
    width: 100%;
  }

  .about-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .col-ab-1 {
    border-radius: 23px;
  }

  .clients-container {
    margin: 0 20px;
  }

  .client-box {
    width: 90%;
    gap: 4rem;
    margin: 0 auto;
  }

  .review-box {
    width: 50%;
  }

  .review-text-box {
    padding: 0;
    padding-bottom: 10px;
    margin: 0 12px;
  }

  .cto-img-box {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .clients-review-box {
    max-width: 100%;
    margin: 0 auto;
  }

  .clients-review {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .clients-review div:nth-child(1) {
    width: auto;
    padding: 0;
  }

  .price-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 12px;
  }

  .categary {
    display: block;
  }

  .categary p {
    color: var(--text-ass-color);
    font-weight: 700;
    line-height: 25px;
  }

  .star-rating {
    width: auto;
    margin-top: 0;
    text-align: right;
  }

  .price-plan-active,
  .price-plan {
    width: 100%;
    margin: 0;
  }

  .price-plan-active h6,
  .price-plan h6 {
    position: inherit;
  }

  .footer-container {
    padding-top: 250px;
  }

  .footer-title {
    width: 60%;
    color: var(--color-white);
  }

  .cta-form {
    width: 60%;
  }

  .cta-form input,
  .cta-form button {
    width: 100%;
    font-size: 16px;
    height: 3rem;
  }

  .cta-form input {
    border: none;
    border-bottom: 1px solid var(--color-white);
    border-radius: 0;
    background: transparent;
    padding: 12px;
    color: var(--color-white);
  }

  .cta-form input::placeholder {
    color: var(--color-white);
  }

  .cta-form button {
    background: transparent;
    color: var(--color-white);
    transition: all 0.3s;
  }

  .cta-form button:hover {
    background: var(--color-white) !important;
    color: var(--color-primary);
  }

  .contact-information {
    display: flex;
    gap: 1.5rem;
  }

  .logo-col,
  .address-col,
  .nav-col {
    width: 50%;
  }

  .nav-col ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .logo-img {
    justify-self: left;
  }
}

@media (min-width: 87.5em) {
  .hero-section {
    padding: 250px 120px 250px 120px;
  }

  .hero-section::after {
    content: "";
    background-image: url(/asset/images/slider-left-dec.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    z-index: 1;
  }

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-container {
    width: 1350px;
    margin: 0 auto;
  }

  .nav .nav-link:link,
  .nav .nav-link:visited {
    font-size: 16px;
  }

  .nav .nav-active.nav-link,
  .nav .nav-link:hover,
  .nav .nav-link:active {
    color: var(--color-primary);
  }

  .nav li:nth-child(6) {
    background: linear-gradient(
      105deg,
      var(--color-neviblue-rgba) 0%,
      var(--color-aqua-rgba) 100%
    );
    border-radius: 23px;
    margin-left: 1.5rem;
    padding: 0 16px;
  }

  .nav li:nth-child(6) .nav-link:link,
  .nav li:nth-child(6) .nav-link:visited {
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .bi-box-arrow-in-right {
    font-size: 16px;
    text-shadow:
      0 0 1px currentColor,
      0 0 1px currentColor;
    margin-top: 2px;
  }

  .header-container {
    width: 1350px;
    margin: 0 auto;
    padding: 0;
  }

  .nav-img-link {
    margin-left: 0;
  }

  .main-nav {
    margin-right: 0;
  }

  .nav {
    gap: 1rem;
  }

  .hero-text {
    padding: 0 12px;
  }

  .hero-img {
    padding: 0 24px;
  }

  .pricing-text,
  .clients-text,
  .services-text {
    width: 50%;
    color: var(--text-deep-black-color);
  }

  .services-work {
    width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .col-sw {
    text-align: left;
  }

  .work-link {
    margin-top: auto;
  }

  .icon-img-1,
  .icon-img-2,
  .icon-img-3,
  .icon-img-4 {
    margin: 0 auto 15px 0;
  }

  .about-container {
    width: 1350px;
    margin: 0 auto;
  }

  .col-ab-2 span,
  .col-ab-2,
  .about-title,
  .about-text {
    text-align: left;
  }

  .col-ab-2 span {
    margin-left: 16px;
  }
  .about-section {
    position: relative;
  }

  .about-section::after {
    content: "";
    background-image: url(/asset/images/about-bg.jpg);
    background-repeat: no-repeat;
    position: absolute;
    right: 2%;
    top: 20%;
    transform: translateY(-50%);
    width: 777px;
    height: 1132px;
  }

  .about {
    width: 100%;
  }

  .about-box {
    width: 100%;
  }

  .col-ab-1 {
    border-radius: 23px;
  }

  .clients-container {
    margin: 0 20px;
  }

  .client-box {
    width: 1350px;
    gap: 4rem;
    margin: 0 auto;
  }

  .review-box {
    width: 50%;
  }

  .review-text-box {
    padding: 0;
    padding-bottom: 10px;
    margin: 0 12px;
  }

  .cto-img-box {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .clients-review-box {
    max-width: 100%;
    margin: 0 auto;
  }

  .clients-review {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .clients-review div:nth-child(1) {
    width: auto;
    padding: 0;
  }

  .price-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    width: 1350px;
    margin: 0 auto;
  }

  .categary {
    display: block;
  }

  .categary p {
    color: var(--text-ass-color);
    font-weight: 700;
  }

  .star-rating {
    width: auto;
    margin-top: 0;
    text-align: right;
  }

  .price-plan-active,
  .price-plan {
    width: 100%;
    margin: 0;
  }

  .price-plan-active h6,
  .price-plan h6 {
    position: inherit;
  }

  .footer-container {
    padding-top: 250px;
    width: 1350px;
    margin: 0 auto;
  }

  .footer-title {
    width: 60%;
    color: var(--color-white);
  }

  .cta-form {
    width: 60%;
  }

  .cta-form input,
  .cta-form button {
    width: 100%;
    font-size: 16px;
    height: 3rem;
  }

  .cta-form input {
    border: none;
    border-bottom: 1px solid var(--color-white);
    border-radius: 0;
    background: transparent;
    padding: 12px;
    color: var(--color-white);
  }

  .cta-form input::placeholder {
    color: var(--color-white);
  }

  .cta-form button {
    background: transparent;
    color: var(--color-white);
    transition: all 0.3s;
  }

  .cta-form button:hover {
    background: var(--color-white) !important;
    color: var(--color-primary);
  }

  .contact-information {
    display: flex;
    gap: 1.5rem;
    padding: 0;
  }

  .logo-col,
  .address-col,
  .nav-col {
    width: 50%;
  }

  .nav-col ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .logo-img {
    justify-self: left;
  }
}
