/* Colos */

:root {
  --color-primary: #4b8ef1;
  --color-secondary: #0d6efd;
  --color-white: #ffffff;
  --color-aqua-rgba: rgba(40, 225, 253, 1);
  --color-neviblue-rgba: rgba(91, 104, 235, 1);
  --text-deep-black-color: #2a2a2a;
  --text-ass-color: #afafaf;
  --text-dark-ass-color: #7a7a7a;

  --border-rgba-01: 1px solid rgba(42, 42, 42, 0.2);

  --shadow-rgba-01: 0px 5px 8px rgba(0, 0, 0, 0.03);
  --shadow-rgba-02: 0px 0px 15px rgba(0, 0, 0, 0.1);
  --shadow-rgba-03: 0px 0px 15px rgba(0, 0, 0, 0.07);
}

/* //////////////////////////////////// */
/* GENERAL */
/* //////////////////////////////////// */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--color-white);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 15px;
  color: var(--text-ass-color);
  font-weight: 300;
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-deep-black-color);
  font-weight: 700;
}

.d-flex {
  display: flex;
}

.aj-flex {
  align-items: center;
  justify-content: center;
}
.fd-column {
  flex-direction: column;
}
.col-gap {
  gap: 1rem;
}
/* //////////////////////////////////// */
/* HEADER SECTION */
/* //////////////////////////////////// */

.header {
  width: 100%;
  height: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-bottom: var(--border-rgba-01);
  box-shadow: var(--shadow-rgba-01);
}

.header-container {
  width: 100%;
  height: 100%;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img-link {
  margin-left: 1rem;
  align-content: center;
}

.nav-img {
  width: 100%;
}

.main-nav {
  display: none;
}

.btn-mobile-nav {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

/* //////////////////////////////////// */
/* HERO SECTION */
/* //////////////////////////////////// */

.hero-section {
  width: 100%;
  /* margin-top: 13rem; */
  padding-top: 12rem;
  padding-bottom: 1.875rem;
}

.hero-container {
  padding: 0 0.75rem;
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  font-size: 3.125rem;
  line-height: 4.375rem;
  margin-bottom: 1.25rem;
}

.hero-text {
  font-size: 15px;
  line-height: 1.875rem;
  color: var(--text-ass-color);
  margin-bottom: 45px;
  font-weight: 400;
}

.download-container {
}

.mac {
  display: inline-block;
}

.mac-link:link,
.mac-link:visited,
.play-store-link:link,
.play-store-link:visited {
  background: linear-gradient(
    105deg,
    var(--color-neviblue-rgba) 0%,
    var(--color-aqua-rgba) 100%
  );
  color: var(--color-white);
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 23px;
  letter-spacing: 0.3px;
  transition: all 0.5s;
  line-height: 22px;
}

.play-store-link:link,
.play-store-link:visited {
}

.bi-apple {
  margin-bottom: 3px;
}
.bi-apple,
.bi-google-play {
  margin-left: 5px;
}

.hero-img {
  width: 100%;
  margin-top: 2rem;
}

.hero-img img {
  width: 100%;
  object-fit: cover;
}

/* //////////////////////////////////// */
/* SERVICES SECTION */
/* //////////////////////////////////// */

.services-section {
  padding-top: 8.125rem;
  position: relative;
}

.services-section::before {
  content: "";
  background-image: url(../images/services-right-dec.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 1136px;
  height: 244px;
  z-index: 0;
}

.services-section::after {
  content: "";
  background-image: url(../images/services-left-dec.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: -330px;
  width: 261px;
  height: 368px;
  z-index: 0;
}

.services-container {
  position: relative;
  z-index: 22;
  text-align: center;
}

.pricing-title,
.clients-title,
.about-title,
.services-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.pricing-title span,
.clients-title span,
.about-title span,
.services-title span {
  color: var(--color-primary);
}

.line-img {
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

.line-img img {
  width: 45px;
  height: 2px;
}

.pricing-text,
.clients-text,
.services-text {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.col-sw a:link,
.col-sw a:visited,
.services-text a:link,
.services-text a:visited {
  color: var(--color-secondary);
}

.services-work {
  width: 100%;
  padding: 0 12px;
}

.col-sw {
  width: 100%;
  background: var(--color-white);
  box-shadow: var(--shadow-rgba-02);
  padding: 30px;
  transition: all 0.3s;
  border-radius: 10px;
  border-top-right-radius: 50px;
  margin-bottom: 30px;
}

.col-sw:hover {
  background-image: url(../images/service-bg.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.col-sw:hover h4,
.col-sw:hover p,
.col-sw:hover a:link,
.col-sw:hover a:visited {
  color: var(--color-white);
}

.icon-img-1,
.icon-img-2,
.icon-img-3,
.icon-img-4 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 0 15px auto;
  transition: all 0.3s;
}

.icon-img-1 {
  background-image: url(../images/service-icon-01.png);
}
.icon-img-2 {
  background-image: url(../images/service-icon-02.png);
}
.icon-img-3 {
  background-image: url(../images/service-icon-03.png);
}
.icon-img-4 {
  background-image: url(../images/service-icon-04.png);
}

.col-sw:hover .icon-img-1 {
  background-image: url(../images/service-icon-hover-01.png);
}
.col-sw:hover .icon-img-2 {
  background-image: url(../images/service-icon-hover-02.png);
}
.col-sw:hover .icon-img-3 {
  background-image: url(../images/service-icon-hover-03.png);
}
.col-sw:hover .icon-img-4 {
  background-image: url(../images/service-icon-hover-04.png);
}

.col-sw h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.col-sw p {
  margin-bottom: 20px;
}

.work-link {
}

.work-link a:link,
.work-link a:visited {
  color: var(--color-secondary);
  font-size: 15px;

  /* icon base */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bi-arrow-right-short {
  font-size: 24px;
  margin-left: 5px;
  line-height: 23px;
  transition: all 0.3s;
}

a:hover .bi-arrow-right-short,
a:active .bi-arrow-right-short {
  margin-left: 8px;
}

/* //////////////////////////////////// */
/* ABOUT SECTION */
/* //////////////////////////////////// */

.about-section {
  padding-top: 8.125rem;
  width: 100%;
}

.about-container {
  padding: 0 12px;
  position: relative;
  z-index: 22;
  text-align: center;
}

.about-text {
  margin: 0 auto;
  margin-bottom: 45px;
}

.col-ab-1 {
  width: 100%;
  padding: 10px 30px;
  background: var(--color-white);
  box-shadow: var(--shadow-rgba-03);
  margin-bottom: 30px;
  border-radius: 40px;
}

.col-ab-1 h6 {
  font-size: 20px;
  transition: all 0.3s;
}

.col-ab-1:hover h6 {
  color: var(--color-primary);
}

.col-ab-2 p {
}

.gradient-btn {
  margin-top: 30px;
  margin-bottom: 10px;
}

.gradient-btn a:link,
.gradient-btn a:visited {
  padding: 10px 20px;
  background: linear-gradient(
    105deg,
    var(--color-neviblue-rgba) 0%,
    var(--color-aqua-rgba) 100%
  );
  display: inline-block;
  color: var(--color-white);
  font-size: 15px;
  font-weight: 500;
  border-radius: 23px;
  letter-spacing: 0.3px;
  transition: all 0.3s;
  line-height: 24px;
}

.col-ab-2 span {
  color: var(--text-dark-ass-color);
  font-size: 14px;
  display: block;
  text-align: center;
}

.about-image {
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}

.about-image img {
  width: 100%;
}

/* //////////////////////////////////// */
/* CLIENTS SECTION */
/* //////////////////////////////////// */

.clients-section {
  margin-top: 8.125rem;
}

.clients-container {
  text-align: center;
  padding: 0 12px;
}

.clients-review-box {
  width: 100%;
}

.clients-review {
  margin-bottom: 3rem;
}

.clients-review h6 {
  font-size: 20px;
  font-weight: 500;
}
.clients-review:hover h6 {
  color: var(--color-primary);
}
.date {
  color: var(--text-ass-color);
  font-size: 15px;
  line-height: 26px;
}

.star-rating {
  color: var(--text-ass-color);
  margin-top: 0.5rem;
}

.clients-review:hover .star-rating {
  color: #ff9529;
}

.review-text-box {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 0 12px 10px 12px;
}

.review-text {
  background-image: url(../images/client-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 50px;
  padding: 50px 30px;
  flex-shrink: 0;
}

.quote-img {
  text-align: left;
}

.review-explain {
  color: var(--color-white);
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 30px;
}

.cto-img {
  margin-top: 1rem;
  width: 100%;
}

.cto-img img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-size: cover;
}

.cto-img-title {
  width: 100%;
  margin-top: 15px;
}

.cto-img-title h6 {
  font-size: 20px;
  /* margin-bottom: 15px; */
}

.cto-img-title p {
  color: var(--text-deep-black-color);
  font-weight: 400;
}

/* //////////////////////////////////// */
/* CLIENTS SECTION */
/* //////////////////////////////////// */

.pricing-section {
  padding-top: 130px;
}

.pricing-container {
  text-align: center;
  padding: 0 12px;
}

.pricing-title {
  padding: 0 12px;
}

.price-box {
  width: 100%;
  margin-top: 30px;
}

.price-plan-active,
.price-plan {
  position: relative;
  box-shadow: var(--shadow-rgba-03);
  border-radius: 50px;
  overflow: hidden;
}

.price-plan {
  padding: 90px 30px;
}

.price-plan::before {
  content: "";
  background-image: url(/asset/images/regular-table-top.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 274px;
  height: 221px;
}

.price-plan-active,
.price-plan {
  margin-bottom: 2rem;
}

.price-plan-active span,
.price-plan span {
  position: absolute;
  font-size: 40px;
  color: var(--color-white);
  font-weight: 700;
  left: 30px;
  top: 35px;
}

.price-plan-active h6,
.price-plan h6 {
  font-size: 20px;
  margin-bottom: 30px;
}

.price-img {
  width: 100%;
}

.price-img img {
  width: 120px;
  height: 106px;
  margin-bottom: 30px;
}

.price-list-pro li,
.active-price-list li,
.price-list li {
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 400;
}

.price-list li:nth-child(1),
.price-list li:nth-child(2) {
  color: var(--color-primary);
}

.price-list li:nth-child(3),
.price-list li:nth-child(4),
.price-list li:nth-child(5),
.price-list li:nth-child(6) {
  color: var(--text-ass-color);
  text-decoration: line-through;
}

.buy-btn {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.buy-btn a:link,
.buy-btn a:visited {
  color: var(--color-primary);
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid var(--color-primary);
  border-radius: 23px;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: all 0.3s;
}

.buy-btn a:hover,
.buy-btn a:active {
  background: var(--color-primary);
  color: var(--color-white);
}

.price-plan::after {
  content: "";
  background-image: url(/asset/images/regular-table-bottom.png);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 171px;
  z-index: 0;
}

.price-plan-active {
  padding: 120px 30px;
}

.price-plan-active::before {
  content: "";
  position: absolute;
  background-image: url(/asset/images/pro-table-top.png);
  width: 281px;
  height: 251px;
  top: 0;
  left: 0;
  z-index: 0;
}

.active-price-list li:nth-child(1),
.active-price-list li:nth-child(2),
.active-price-list li:nth-child(3),
.active-price-list li:nth-child(4) {
  color: var(--color-primary);
}

.active-price-list li:nth-child(5),
.active-price-list li:nth-child(6) {
  color: var(--text-ass-color);
  text-decoration: line-through;
}

.price-plan-active::after {
  content: "";
  position: absolute;
  background-image: url(/asset/images/pro-table-bottom.png);
  width: 100%;
  height: 201px;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.price-list-pro li:nth-child(1),
.price-list-pro li:nth-child(2),
.price-list-pro li:nth-child(3),
.price-list-pro li:nth-child(4),
.price-list-pro li:nth-child(5),
.price-list-pro li:nth-child(6) {
  color: var(--color-primary);
}

/* //////////////////////////////////// */
/* FOOTER SECTION */
/* //////////////////////////////////// */

.footer-section {
}
.footer-container {
}
.footer-title {
}
.cta-form {
}
