/* Colos */

:root {
  --color-primary:;
  --color-secondary:;
  --color-white: #ffffff;

  --border-rgba-01: 1px solid rgba(42, 42, 42, 0.2);

  --shadow-rgba-01: 0px 5px 8px rgba(0, 0, 0, 0.03);
}

/* //////////////////////////////////// */
/* GENERAL */
/* //////////////////////////////////// */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* //////////////////////////////////// */
/* HEADER SECTION */
/* //////////////////////////////////// */

.header {
  width: 100%;
  height: 6.25rem;
  background: var(--color-white);
  border-bottom: var(--border-rgba-01);
  box-shadow: var(--shadow-rgba-01);
}

.header-container {
  width: 100%;
  height: 100%;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img-link {
  margin-left: 1rem;
  align-content: center;
  /* width: auto; */
}

.nav-img {
  width: 100%;
}

.main-nav {
  display: none;
}

.btn-mobile-nav {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  margin-right: 0.5rem;
}
